@import '~antd/es/style/themes/default';

.logo {
  width: 50px;
  height: auto;
  margin: 16px 0 16px 0;
  float: left;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(1.1);
  }
}

.menuItem {
  z-index: 9999;
}

.header {
  background-color: white;
}

.menu {
  line-height: 64px;
}
